{% extends 'base.html.twig' %}

{% block title %}{% endblock %}
{% block body %}


<h1>Bien le bravo</h1>
<div class="container">
    <div class="row"> 
      <div>
       
        <h1> Vous avez trouvé le livre D'or</h1>

      </div>
    </div>
</div>
        {% endblock %}