{% extends 'base.html.twig' %}

{% block title %}Hello RayonController!
{% endblock %}

{% block body %}


	<div class="row">
		<h1 class="col-12 text-center">Les rayons</h1>
		{% for rayon in rayons %}
			
				<div class="col-4 mb-5">
					<div class="card">
						<div class="card-body">
                            <h5 class="card-title text-center">{{rayon.nomRayon}}</h5>
                            <hr>
							<p class="card-text">description du rayon</p>
							<a href="{{path('show_rayon',{id: rayon.id })}}" class="btn btn-primary">Voir le rayon</a>
						</div>
					</div>
				</div>
			
		{% endfor %}
	</div>
{% endblock %}
