{% extends 'base.html.twig' %}

{% block title %}Hello RayonController!
{% endblock %}

{% block body %}


<h1 class="col-12 text-center">Les Ouvrage de ce rayon</h1>
<p>nombre d'ouvrage : {{ ouvragesRayon | length }}</p>
            <div class="row">
		{% for ouvrage in ouvragesRayon %}
		
            
            
            <div class="col-3 mb-5" >
                <div class="card">
                    <div class="card-body">
                        <h1 class="card-title text-center">
                            <a href="{{path('showOuvrage', {slug:ouvrage.slug})}}">{{ouvrage.titre}}</a></h1>
                        <hr>
                        <p class="card-text">{{ouvrage.description}}</p>
                    </div>
                </div>
            </div>
		{% endfor %}
	</div>
{% endblock %}
