{% extends 'base.html.twig' %}

{% block title %}Auteur
{% endblock %}

{% block body %}

	<div class="example-wrapper">
		<h1>Les livres de ce rayon : </h1>
		<div class="container">
			<div class="row">
				<ol>
					{% for rayon in rayons %}
						<li style="font-size: large;"><a href="">{{rayon.titre | badge}}</a></li>
					{% endfor %}
				</ol>

			</div>
		</div>
	</div>
{% endblock %}
