{% extends 'base.html.twig' %}

{% block title %}Hello RayonController!

{% endblock %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}


<h1 class="col-12 text-center">Les Ouvrage de ce rayon</h1>

{{ form_start(form)}}
<div>
        {{ form_row(form.nomRayon)}}
        <button type="submit" class="btn btn-primary"> Rechercher </button>
</div>
{{ form_end(form)}}

<div>
        <form action="" class="form-group" method="post">
                <select name="" class="custom-select" id="">
                        <option value="00">Toutes</option>
                        {% for rayon in rayons %}
                                <option value="{{rayon.id}}">{{rayon.nomRayon}}</option>
                                
                        {% endfor %}
                </select>
        </form>
</div>


{% endblock %}
