{% extends 'base.html.twig' %}

{% block title %}Auteur{% endblock %}

{% block body %}

<div class="example-wrapper">
  <div class="text-danger">
    <h1 class="">{{auteur.prenom}} {{auteur.nom}} </h1>
    <p>né le {{auteur.dateNaissance | date('d-m-Y')}}</p>
    <p> nationalité : {{auteur.nationalite}}</p>
    <h3 class="text-center text-success">Liste de ces ouvrages</p>
  </div>
   
  <div class="m-5">
    <table class="table table-dark">
        <thead class="text-light">
          <tr>
            <th scope="col">Titre</th>
            <th scope="col">Date de parution</th>
            <th scope="col">Rayon</th>
          </tr>
        </thead>
        <tbody>
            {% for ouvrage in ouvrages %}
          <tr>
            <td>{{ouvrage.titre}}</td>
            <td>{{ouvrage.date_parution|date('d-m-Y')}}</td>
            <td scope="col">{{ouvrage.nom_rayon}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
  </div>
    
     

    
  
</div>
{% endblock %}