<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>
			{% block title %}welcome
			{% endblock %}
		</title>
		<link rel="stylesheet" href="style.css">
		<link rel="stylesheet" href="https://bootswatch.com/4/darkly/bootstrap.min.css">
		{% block stylesheets %}
			{# On charge le CSS de bootstrap depuis le site directement #}
			<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		{% endblock %}
	</head>
	<body id="bg" class="bg-light text-white">
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<a class="navbar-brand" href="{{path('accueil')}} ">Ma Biblioteque</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarColor02">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item ">
						<a class="nav-link" href="{{path('rayons') }}">Les rayons
							<span class="sr-only">(current)</span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="http://placehold.it/350x400">ajouter un article</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{path('show_ouvrages')}}">liste des ouvrages</a>
					</li>
				</ul>
			</div>
		</nav>
		<div  class="row bg-dark">
			<div class="container">
				{% block body %}
				
				{% endblock %}
			</div>
		</div>
		{% block javascripts %}{% endblock %}
		
	</body>
</html>
