{% extends 'base.html.twig' %}
{% block title %}{% endblock %}
{% form_theme ouvrage 'bootstrap_4_layout.html.twig' %}

{% block body %}
<h1>ajouter/editer un ouvrage</h1>
<p> nombre d'ouvrage : {{ouvrage | length}} </p>
<hr>
<div class="container">
    <div class="row "> 
       
       {{form (ouvrage)}}
    </div>      
</div>
{% endblock %}
        