{% extends 'base.html.twig' %}

{% block title %}{% endblock %}
{% block body %}
<h1>les ouvrages</h1>
<div class="container">

    <div class="row"> 
        {% for ouvrage in ouvrages %}
        <div class="border-danger col-3">
        
            <h3 class="text-center">{{ouvrage.titre}} </h3>
            <p class="text-center"> Rayon : {{ouvrage.ranger.nomRayon}} </p>
            <p>date de parution : {{ouvrage.dateParution| date}}</p>
        </div>

            {% endfor %} 
    </div>
    <div class="row">
        {% for auteur in auteurs %}
            <div class="col-3">
                <p>auteur :{{auteur.nom}} {{auteur.prenom}} </p>
            </div>
        {% endfor %}
    </div>
</div>
        {% endblock %}
        