{% extends 'base.html.twig' %}

{% block title %}{% endblock %}
{% block body %}

<div class=" mb-3">
  
  <h1 class="card-header text-center col-11">{{detail.titre}} 
  </h1>

  <div class="row p-4">
    <div class="col-4">
      <img src="https://placehold.it/330x400" class="" style="max-height: 450px;" alt="Card image">
      <hr>
      <h4 class="text-center"><a href=""> Rayon {{ detail.nom_rayon}}</a></h4>
      <p class="text-left ">date de sortie : {{detail.date_parution | date('d m Y')}}</p>
      <p> Mots-clés : {% for mc in mcs %}
                        <span class="mr-4"><a href="#">{{mc.mots_cles}}</a></span>
                      {% endfor %}
      </p>
      <div class="m-3">
        <a href="" class="btn btn-primary">Emprunter</a>
      </div>
    </div>
    <section class="col-8 ">
      <h3 class="text-primary"> Synopsis</h3>
      {{detail.content|raw}}
    </section>
  </div>
  <div>
    <div class="text-right">
      <p> Ecrit par :</p>
      {% for auteur in auteurs %}
      <a href="{{ path('show_auteur',{id: detail.auteur_id}) }}" class="mr-3">{{auteur.nom}} {{auteur.prenom}}</a>      
      {% endfor %}
    </div>
  </div>
  <hr>

  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Cras justo odio</li>
    <li class="list-group-item">Dapibus ac facilisis in</li>
    <li class="list-group-item">Vestibulum at eros</li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
  <div class="card-footer text-muted">
    2 days ago
  </div>
</div>
<div class="card">
  <div class="card-body">
    <h4 class="card-title">Card title</h4>
    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>

        {% endblock %}
        