{% extends 'base.html.twig' %}

{% block title %}{% endblock %}
{% block body %}
<div class="text-center text-primary">
	<h1>les ouvrages disponibles</h1>
	<p>nombre d'ouvrage :{{ouvragesTotal | length}}</p>
	{{ knp_pagination_render(ouvrages,'twitter_bootstrap_v4_pagination.html.twig') }}
</div>
<div class="container">
	<div class="row">

{% for ouvrage in ouvrages %}
	
<div class="card col-2 text-light bg-secondary m-3" style="width: 24rem;">
	<img src="https://placehold.it/100x100" class="card-img-top mt-4" alt="...">
	<div class="card-body ">
		<h3 class="card-title text-center text-white"><a href="/ouvrage/{{ouvrage.slug}}">{{ouvrage.titre}}</a> </h3>
		<p class="card-text">{{ ouvrage.description}} </p>
		<p class="card-img-bottom d-flex align-items-end">écrit par :
			<a href="{{path('show_auteur',{id: ouvrage.auteur_id}) }}">	
				{{ouvrage.nom | badge({' color':'secondary'}) }}
			</a>
		</p>
	</div>
</div>
{% endfor %}
</div>
{% endblock %}
						
						