{% extends 'base.html.twig' %}

{% block title %}{% endblock %}
{# {% form_theme recherche 'bootstrap_4_layout.html.twig' %} #}

{% block body %}
	<div class="row">

		<div class="count mr-5">
			<h1>les ouvrages</h1>
			{# {{ ouvrages.getTotalItemCount }} #}
		</div>

		{# <div class="">
            {{ form_start(recherche )}}
			{{ form_row(recherche.auteur)}}
			{{ form_row(recherche.rayon)}}
            <button type="submit" class="btn btn-primary"  >
                Rechercher

            </button>
            {{ form_end(recherche )}}
		</div> #}



	</div>

	<div class="container">

		<div class="row">
			{% for ouvrage in ouvrages %}
				<div class="border-danger col-3">

					<h3 class="text-center">{{ouvrage.titre}}
					</h3>
					<p class="text-center">
						Rayon :
						{{ouvrage.id}}
					</p>
					<p>date de parution :
						{{ouvrage.dateParution| date}}</p>

				</div>

			{% endfor %}
		</div>

	</div>
	<div class="navigation">
		{{ knp_pagination_render(ouvrages,'twitter_bootstrap_v4_pagination.html.twig') }}

	</div>


{% endblock %}
